@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
    font-style: bold;
  }

  @font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
    font-style: normal;
  }

body, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

.poster {
    position: relative;
    min-height: 449px;
  }
  
.poster::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
}
  
.poster__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    z-index: -1;
}
  
.poster__content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
  
.poster__title {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
    color: #ffffff;
    padding: 85px 240px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
  
.menu {
    display: flex;
    padding: 29px 15px 15px 0;
    align-items: center;
    justify-content: space-between;
}
  
.menu__logo-link {
    width: 179px;
    position: relative;
    top: 0px;
    left: 18px;
}
  
.noemi-svg {
    width: 179px;
}

.menu-svg {
    display: none;
}
  
.menu__list {
    position: relative;
    top: -2px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.menu__link {
    text-decoration: none;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
}
  
.menu__link:hover {
    text-decoration: underline;
}
  
.menu__item:nth-child(n + 2) {
    margin-left: 32px;
}

.trends {
    max-width: 1660px;
    min-height: 442px;
    padding-top: 53px;
    text-align: center;
}

.trends-header {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;

    padding-bottom: 40px;
}

.trends-header:hover {
    text-decoration: underline;
}

.trends-header::before {
    content: "";
    display: block;
    width: 67px;
    margin: 0 auto;
    border-bottom: 3px solid #e1d9bd;
    position: relative;
    top: 38px;
}

.trends__article {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}

.trends-card {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    width: 25%;
    min-height: 320px;
    padding: 20px 25px;
}

.trends-card::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.trends-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    z-index: -1;;
}


.trends-content {
    outline: 3px solid #b59f5b;
    padding: 35px 37px 31px 30px;
    z-index: 1;
}

.tag-list{ 
    list-style: none;
    display: flex;
    gap: 1px;
    margin-bottom: 5px;
}

.tag {
    position: relative;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;
    font-weight: 700;

    margin-right: 16px;
    z-index: 1;
}

.tag:hover {
    text-decoration: underline;
  }

.card-name {
    position: relative;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: start;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;

    z-index: 1;
}
.trends-content__first {
    padding-right: 65px;
}
 
.container {
    display: flex;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
  
.main {
    box-sizing: border-box;
    width: 70%;
    flex-grow: 1;
    padding-right: 75px;
}
 
.card {
    display: flex;
    justify-content: space-between;
    max-width: 96%;
    min-height: 12%;
}

.card:nth-child(n + 2) {
     margin-top: 58px;
}

.img-content {
    width: 50%;
    padding-top: 2px;
    margin-right: 30px;
}

.card-content {
    padding-right: 22px;
}

.card-header {
    font-family: OpenSans-Bold, sans-serif;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
}

.card-header:hover {
    text-decoration: underline;
  }

.card-date {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    color: #888888;
    font-weight: normal;
    line-height: 40px;
  
    position: relative;
    top: 15px;
    margin-right: 10px;
}

.autor {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
  
    position: relative;
    top: 15px;
}

.card-text {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: normal;

    padding-top: 35px;
}

.card-text__p {
    margin-top: -6px;
}

.sidebar {
    max-width: 272px;
    padding-top: 24px;
}

.new-posts {
    margin-bottom: 60px;
    margin-top: -30px;
}

.aside-header {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
  
    position: relative;
    text-align: center;
    margin-bottom: 42px; 
    left: 2px;
}

.aside-header:hover {
    text-decoration: underline;
}

.aside-header::before {
    content: "";
    display: block;
    width: 67px;
    margin: 0 auto;
    border-bottom: 3px solid #e1d9bd;
    position: relative;
    top: 32px;
}

.new-article {
    display: flex;
    margin-bottom: 22px;
    max-height: 70px;
}

.new-img {
    width: 70px;
    margin-right: 18px;
}

.new-text {
    display: flex;
    flex-direction: column;
    min-height: 70px;  
}

.new-post-date {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    opacity: 0.541;
  
    position: relative;
    top: -3px;
    left: 1px;
}

.new-header__link {
    text-decoration: none;
}

.new-header {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;   
}

.search {
    position: relative
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    line-height: 3;
    color: #000000;
    
    font-family: OpenSans-Regular, sans-serif;
    font-weight: normal;
    text-align: start;
    border: none;
    outline: none;
    background-color: #f4f7f6;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: none;

    background: #b59f5b;
    cursor: pointer;
}

.button-svg {
    width: 17px;
    height: 17px;

    position: absolute;
    top: 15px;
    right: 15px;

}

.subscription {
    margin-top: 47px;
    margin-bottom: 53px;
}

.sub-header {
    position: relative;
    top: 7px;
    left: -2px;
}


.buttton-subscription {
    width: 270px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
  
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
  
    margin-top: 19px;
}

.buttton-subscription:hover {
    letter-spacing: 1px;
}

.tags {
    margin-bottom: 41px;
}
  
.nav-tags {
    display: flex;
}
  
.tags__list {
    display: flex;
    flex-wrap: wrap;
    min-height: 109px;

    margin: 0;
    padding: 0;
    list-style: none;
    
    position: relative;
    right: 5px;
}
  
.tags__link {
    font-family: OpenSans-Bold, sans-serif;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    padding: 4px 14px;
    margin-left: 4px;
    margin-bottom: 5px;
}
  
.tags__link:hover {
    text-decoration: underline;
}

.nav-topics {
    display: block;
}
  
.topics-header {
    margin-bottom: 23px;
}
  
.topics__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.topics__iteam::before {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #ededed;
    position: relative;
    top: 45px;
}
  
.topics__link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #0f0d0e;
    line-height: 45px;
}
  
.topics__link:hover {
    text-decoration: underline;
}
  
.topics__number {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #b59f5b;
    font-weight: bold;
    margin-left: 5px;
}
  
.products {
    box-sizing: border-box;
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    padding: 0px 38px;

    margin-top: 56px;
    margin-bottom: 73px;
}

.products-header {
    text-align: center;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;

    padding-bottom: 40px;
}

.products:hover {
    text-decoration: underline;
}

.products-header::before {
    content: "";
    display: block;
    width: 67px;
    margin: 0 auto;
    border-bottom: 3px solid #e1d9bd;
    position: relative;
    top: 38px;
}

.products__articles {
    display: flex;
    flex-direction: row;

    gap: 113px;
}

.products__article {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.products__article__third {
    margin-left: -3px;
}


.products-img {
    width: 100%;
}

.products-content {
    flex-grow: 1;
    margin-top: -9px;
    outline-offset: 22px;
    outline: 3px solid #b59f5b;
    padding-top: 23px;
}

.products-name {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
}

.products-text {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    margin-top: -12px;
    margin-bottom: 21px;
}

.products-text:hover {
    text-decoration: underline;
}

.products-link {
    color: #b59f5b;
    text-decoration: none;

}

.products-link:hover {
    text-decoration: underline;
}

.products-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto
}

.products-footer__third {
    position: relative;
    top: 7px;
}

.products-price {
    display: block;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;  
}

.products-price__third {
    position: relative;
    top: -6px;
    left: -1px;
}


.products-new-price {
    font-size: 20px;
    position: relative;
    top: -5px;
    
}

.products-old-price {
    font-size: 14px;
    text-decoration: line-through;
    position: relative;
    top: 3px;
}


.products-button {
    width: 140px;
    height: 50px;
    background-color: #b59f5b;
    border: none;
  
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.products-button:hover {
    letter-spacing: 1px;
}

.footer {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    padding: 0px 15px;
}
  
.address {
    min-height: 81px;
    margin-bottom: 70px;
    background-color: #f4f7f6;
}
  
.footer__list {
    display: flex;
    margin: 0;
    padding: 11px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
  
.social-icon {
    display: block;
    width: 20px;
    height: 45px;

    margin: 8px 13px;
    position: relative;
    left: 3px;
    top: 12px;
}
  
.social-icon:hover {
    background-size: 110%;
}
  
.copyright {
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: #999999;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    font-weight: bold;

    position: relative;
    left: 5px;
}
 
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup__content {
    box-sizing: border-box;
    width: 390px;
    
    background-color: #ffffff;
    padding: 42px 30px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-header {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    
    padding-bottom: 33px;

    position: relative;
    top: 2px;
    left: 2px
}

.popup-header::before {
    content: "";
    display: block;
    width: 67px;
    margin: 0 auto;
    border-bottom: 3px solid #e1d9bd;

    position: relative;
    top: 39px;
    right: 3px;
}

.form__font {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-align: start;
    color: #000000;
}

.form__select {
    padding-bottom: 29px;
}


.form__select__hint {
    line-height: 29px;
}

.form__select__options {
    display: block;
    box-sizing: border-box;
    width: 330px;
    height: 48px;
    padding-left: 18px;
    margin: 0;

    
    border: none;
    outline: none;
    background-color: #f4f7f6;
    

    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url("/Users/Annamalia/Desktop/dip/svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 10px;
}


.form__select__options:focus {
    outline: 2px solid #bfc2c5;
    
}

.form__radio {
    display: block;
    padding-bottom: 15px;
}

.radio-content {
    display: flex;
}

.form__hint__radio {
    line-height: 26px;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio-svg-circle {
    position: absolute;
    width: 18px;
    top: 241px;
    left: 31px;

    cursor: pointer;
}

.radio-svg-emptycircle {
    position: absolute;
    width: 18px;
    top: 241px;
    left: 85px;

    cursor: pointer;
}

.text__radio {
    margin-right: 25px;
    position: relative;
    right: -12px; 
    top: 3px;
}


.form__text {
    display: block;
    padding-bottom: 40px;
}


.form__field__text {
    box-sizing: border-box;
    width: 328px;
    height: 132px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #f4f7f6;

    resize: none;
    position: relative;
    top: 5px;  
}

.form__but {
    width: 330px;
    height: 48px;
    background-color: #b59f5b;
    border: none;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;

    position: relative;
    top: 28px;
    left: 1px;
}

.form__but {
    letter-spacing: 1px;
}
  
.popup__close-svg {
    position: absolute;
    top: -27px;
    right: -2px;
    width: 18px;
    
    cursor: pointer;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .poster {
        min-height: 391px;
      }

    .poster__title {
        font-size: 40px;
        line-height: 55px;
        padding: 85px 60px;  
    }
      
    .menu {
        padding: 43px 15px 0 17px;
    }
      
    .noemi-svg {
        width: 158px;
    }
      
    .menu__list {
        display: none;
    }

    .menu-svg {
        position: relative;
        display: flex;
        fill: #ffffff;
        width: 31px;
        height: 31px;
        left: -16px;
    }

    .trends {
        min-height: 495px;
        padding-top: 42px;
    }
    
    .trends-header { 
        font-size: 18px;
        padding-bottom: 30px;
    }

    .trends-header::before {
        top: 37px;
    }
    
    .trends__article {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }
    
    .trends-card {
        display: flex;
        flex-wrap: wrap;
        width: 49.5%;
        min-height: 245px;
        padding: 18px 21px;
    }
    
    .trends-content {
        outline: 3px solid #b59f5b;
        padding: 28px 29px 27px 31px;  
    }

    .tag-list{ 
        margin-bottom: 8px;
    }
    
    .card-name {
        font-size: 17px;
        line-height: 22px;
    }
    
    .trends-content__first {
        padding-top: 30px;
        padding-right: 79px;
    }

    .container {
        display: flex;
        max-width: 768px;
        padding: 0 35px;
        padding-top: 52px;
    }
      
    .main {
        padding-right: 31px;
    }
     
    .card {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    .card::after {
        content: "";
        display: block;
        width: 100%;
        margin: 0 auto;
        border-bottom: 3px solid #eeeeee;
        position: relative;
        top: 2px;
    }

    .card:nth-child(n + 5)::after {
        display: none;
   }
    
    .card:nth-child(n + 2) {
         margin-top: 44px;
    }
    
    .img-content {
        width: 99%;
    }
    
    .card-content {
        padding-right: 0;
        padding-top: 10px;
    }
    
    .card-header {
        font-size: 17px;
        line-height: 22px;
    }
    
    .card-date {
        top: 20px;
    }
    
    .autor {
        top: 20px;
    }
    
    .card-text {
        padding-top: 21px;
    }

    .card-text__p {
        margin-top: -4px;
    }

    .products {
        max-width: 768px;
        padding: 0px 55px;
    
        margin-top: 41px;
        margin-bottom: 73px;
    }
    
    .products-header {
        font-size: 18px;
    
        padding-bottom: 40px;
    }
    
    .products__articles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        gap: 65px;
    }
    
    .products__article {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    
    .products__article__third {
        margin-top: -14px;
        margin-left: 1px;
    }

    .products-content {
        outline-offset: 19px;
        margin-top: -14px;
        padding-top: 29px;
    }
    
    .products-content__third {
        margin-top: -20px;
        padding-top: 34px

    }

    .products-name {
        font-size: 17px;
    }
    
    .products-text {
        margin-top: -12px;
        margin-bottom: 25px;
    }

    .products-text__third {
        margin-top: -12px;
        margin-bottom: 12px;
    }
 
    
    .products-footer {
        position: relative;
        top: -3px;
        width: 99%;
    
    }

    .products-footer__third {
        top: 6px;
    }

    .footer {
        max-width: 768px;
        padding: 0px 35px;
    }
    .address {
        margin-bottom: 45px;
    }

    .popup__content {
        top: 42%;
    }

    .popup-header {
        font-size: 18px;
    }

    .popup-header::before {
        position: relative;
        top: 35px;
        right: 6px;
    }

    .form__radio {
        padding-bottom: 20px;
    }
    

    .radio-svg-circle {
        position: absolute;
        width: 24px;
        top: 239px;
        left: 30px;
    }

    .radio-svg-emptycircle {
        position: absolute;
        width: 24px;
        top: 239px;
        left: 111px;
    }

    .text__radio {
        margin-right: 53px;
        position: relative;
        right: -18px;
        top: 4px;
    }

    .popup__close-svg {
        position: absolute;
        top: -38px;
        right: -1px;
        width: 28px;
    }
}
  
@media (max-width: 640px) {
    .poster {
        min-height: 640px;
      }

    .poster__title {
        font-size: 26px;
        line-height: 36px;
        padding: 212px 18px;
    }
      
    .menu {
        padding: 43px 15px 0 17px;
    }
      
    .noemi-svg {
        width: 268px;
        position: relative;
        top: 182px;
        left: 11px;
    }
      
    .menu__list {
        display: none;
    }

    .menu-svg {
        position: relative;
        display: flex;
        fill: #ffffff;
        width: 31px;
        height: 31px;
        left: 3px;
        top: -34px;
    }

    .trends {
        padding-top: 35px;
    }
    
    .trends-header { 
        font-size: 16px;
        padding-bottom: 35px;
    }

    .trends-header::before {
        top: 33px;
    }
    
    .trends__article {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
    
    .trends-card {
        width: 100%;
        min-height: 230px;
        padding: 18px 17px;
    }
    
    .trends-content {
        outline: 3px solid #b59f5b;
        padding: 28px 29px 27px 22px   
    }

    .tag-list{ 
        margin-bottom: 7px;
    }
    
    .card-name {
        font-size: 16px;
        line-height: 20px;
    }
    
    .trends-content__first {
        padding-right: 60px;
        
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 0px 14px;
        padding-top: 44px;
    }
      
    .main {
        width: 100%;
        padding-right: 0;
    }
     
    .card {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    .card::after {
        content: "";
        display: block;
        width: 100%;
        margin: 0 auto;
        border-bottom: 3px solid #eeeeee;
        position: relative;
        top: 7px;
    }


    .card:nth-child(n + 2) {
         margin-top: 39px;
    }
    
    .img-content {
        width: 99%;
    }
    
    .card-content {
        padding-right: 14px;
        padding-top: 11px;
    }
    
    .card-header {
        font-size: 16px;
        line-height: 20px;
    }
    
    .card-date {
        top: 7px;
    }
    
    .autor {
        top: 7px;
    }
    
    .card-text {
        font-size: 14px;
        line-height: 20px;
        padding-top: 0;
        margin-top: -5px;
    }

    .card-text__p {
        margin-top: -10px;   
    }

    .sidebar {
        max-width: 100%;
        padding-top: 73px;
    }
    
    .new-posts {
        margin-bottom: 60px;
        margin-top: -30px;
    }
    
    .aside-header {
        margin-bottom: 41px; 
        font-size: 16px;
        left: -1px;
    }
    
    
    .new-article {
        width: 101%;
    }
    
    .new-img {
        margin-right: 19px;
    } 

    .subscription {
        margin-top: 28px;
        margin-bottom: 36px;
    }
    
    .buttton-subscription {
        width: 99%;
    }
    
    .tags {
        margin-bottom: 23px;
    }
       
    .tags__list {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
    }
      
    .tags__link {
        padding: 3px 13px;;
    }
      
    .topics-header {
        margin-bottom: 23px;
    }
    
    .topics__number {
        position: relative;
        top: -5px;
    }

    .products {
        padding: 0px 36px;
    
        margin-top: 37px;
        margin-bottom: 13px;
    }
    
    .products-header {
        font-size: 16px;
        padding-bottom: 41px;
    }
    
    .products__articles {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    .products__article {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 52px;
    }
    
    .products__article__third {
        margin-top: -7px;
        margin-left: 0px;
    }

    .products-img {
        height: 100%;
        width: 100%;
    }

    .products-content {
        outline-offset: 19px;
        margin-top: -14px;
        padding-top: 29px;
    }
    
    .products-content__third {
        margin-top: -15px;
        padding-top: 28px;
    }

    .products-name {
        font-size: 17px;
    }
    
    .products-text {
        margin-top: -12px;
        margin-bottom: 25px;
    }

    .products-text__third {
        margin-top: -12px;
        margin-bottom: 12px;
    }
 
    
    .products-footer {
        position: relative;
        top: -5px;
    
    }

    .products-footer__third {
        top: 5px;
    } 

    .products-button {
        position: relative;
        right: 4px;
    }

    .footer {
        padding: 0px 15px;
    }
    .address {
        margin-bottom: 45px;
    }
    
    .popup__content {
        width: 332px;
        
        padding: 28px 25px;
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup-header {
        font-size: 16px;
        top: -5px;
        padding-bottom: 29px;
    }

    .popup-header::before {
        top: 33px;
        
    }

    .form__radio {
        padding-bottom: 19px;
    }
    
    .text__radio {
        margin-right: 53px;
        position: relative;
        right: -19px;
        top: 5px;
    }
    
    .radio-svg-circle {
        position: absolute;
        top: 213px;
        width: 24px;
        left: 26px;
    }

    .radio-svg-emptycircle {
        position: absolute;
        top: 213px;
        width: 24px;
        left: 107px;
    }

    .form__select__options {
        width: 279px;
    }

    .form__field__text {
        width: 279px;
    }

    .form__but {
        width: 279px;
        position: relative;
        top: 26px;
        left: 0px;
    }


   
      
    .popup__close-svg {
        position: absolute;
        top: -35px;
        right: 0px;
        width: 29px;
        
        cursor: pointer;
    }
    
}

